.custom-class:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.03);
    background-color: #289df0 !important;
    color: #ebebeb !important;
  }
  .cv-button:hover{
    background:  #14A44D!important;
    color: white!important;
    }
    .h5{
      color: black;
    }
